@use "./_abstracts" as *;

* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    text-decoration: none;
}

html,
body {
    width: 100%;
    font-size: $base * 1px;
    line-height: $line-height-400;
    @include font-alata($weight-400);
    background-color: $primary-white;
}

main{
    display: grid;
    justify-items: center;
    grid-template-columns: 1fr;
    width: 100%;
    padding: $space-600 $space-300;

    @include tablet{
        padding: $space-600 $space-400;
    }

    @include desktop{
        padding: 128px;
    }

}